    a{
    color:white;
    }

    a:hover{
    color:yellow;
    }

    .Become{
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
    }

    .lastpost{
      margin-top: 40px;
    }

   