aside a{
  color:white;
  text-decoration: none;
  }

aside a:hover{
  color:white;
  text-decoration: none;
  }

  aside h3{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  aside .lastpost{
    margin-top: 40px;
  }

  aside .headergreen{
    background-color:#22993f;
    color: white;
  }