/*---------- LINK ------------*/

aside a{
  color:white;
  text-decoration: none;
  }

aside a:hover{
  color:white;
  text-decoration: none;
  }

  /*---------- TITLE ------------*/

  aside h3{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  aside h4{
    text-align: center;
    color:#02933d;
  }
    /*----- Margin for a title Last Post ----*/
  aside .titlelastPost{
    margin-top: 60px;
  }

   /*---------- CARD------------*/

  aside .headergreen{
    background-color:white;
    color: #02933d;
  }

  aside .headergreentwo{
    background-color: #f9c7c7;
    color: white;
  }