
.userContainer {
    padding: 8Opx;
}

.user-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 15px;
    grid-template-areas:
      "picGravatar picGravatar name username modifName"
      "picGravatar picGravatar mail userEmail modifEmail"
      "picGravatar picGravatar signature signatureTxt modfiSignature"
      "ModifGravatar ModifGravatar ModifGravatar ModifGravatar ModifGravatar";
    padding: 25px;
    margin: 25px; 
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  
  .name { grid-area: name; 
        font-weight: bold;}
  
  .mail { grid-area: mail;  
    font-weight: bold;}
  
  .signature { grid-area: signature;  
    font-weight: bold;}
  
  .username { grid-area: username; }
  
  .userEmail { grid-area: userEmail; }
  
  .signatureTxt { grid-area: signatureTxt; }
  
  .picGravatar { grid-area: picGravatar; }
  
  .modifName { grid-area: modifName; }
  
  .modifEmail { grid-area: modifEmail; }
  
  .modfiSignature { grid-area: modfiSignature; }
  
  .ModifGravatar { grid-area: ModifGravatar; 
    margin-top: 25px;
    text-align: center;
    }

  .avatar {
      width: 120px;
      height: 120px;
  }
  